* {
  margin: 0;
  padding: 0;
}
body {
  background: url('../img/bg.jpg') top center repeat-x;
  background-color: #0b739c;
}
.wrapper {
  height: 950px;
  width: 1000px;
  background-color: white;
  margin: 0 auto;
  box-shadow: 0 0 15px;
  position: relative;
  overflow: hidden;
}
.logo {
  margin-top: 50px;
  margin-left: 20px;
}
.contacts {
  float: right;
  margin-top: 10px;
  margin-right: 30px;
  color: #128aa7;
}
.contacts p {
  font-size: 12px;
}
.countries {
  clear: right;
  display: table;
  float: right;
  margin-top: 65px;
  margin-right: 20px;
  text-align: center;
  border-spacing: 10px;
}
.countries li {
  position: relative;
  display: table-cell;
}
.country_ref {
  font-size: 10px;
  color: #128aa7;
}
.photo {
  position: absolute;
  top: 213px;
  left: 0px;
  border-top: 1px solid #138aa7;
  border-bottom: 1px solid #138aa7;
}
.menu {
  position: absolute;
  top: 452px;
  left: 0px;
  display: table;
  height: 30px;
  width: 1000px;
  background-color: #343434;
  border-top: 1px solid #cacbcb;
  border-bottom: 1px solid black;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.75);
  z-index: 2;
}
.menu li{
  position: relative;
  display: table-cell;
  padding-left: 50px;
}
.menu li a{
  position: relative;
  text-decoration: none;
  line-height: 30px;
  color: white;
}
.menu li ul {
  display: none;
  position: absolute;
  border-top: 1px solid black;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #343434;
}
.inside li{
  padding-left: 10px;
}
.menu li ul li { display: block; }
.menu li:hover ul { display: block; }

.fon {
  position: absolute;
  top: 484px;
  width: 1000px;
  z-index: 1;
  font-size: 14px;
  color: #424c43;
}
.left {
  width: 199px;
  float: left;
  background: #edeef0;
  padding-bottom: 20000px;
  margin-bottom: -20000px;
  text-align: center;
  border-right: 1px solid black;
}
.center {
  width: 600px;
  float: left;
  padding-bottom: 20000px;
  margin-bottom: -20000px;
}
.right {
  width: 199px;
  float: left;
  text-align: center;
  background: #edeef0;
  padding-bottom: 20000px;
  margin-bottom: -20000px;
  border-left: 1px solid black;
}
.footer {
  clear: both;
  text-align: center;
  margin: 5px;
  color: white;
  font-size: 12px;
}
.topic {
  margin-top: 8px;
}
.text_r {
  line-height: 1.3;
}
.text_l {
  line-height: 1.3;
}
